@page "/favorites"
@using SEP6.Serivces
@using SEP6.Models
@inject IMovieService MovieService
@inject IAccountService AccountService
@inject AuthenticationStateProvider CustomAuthenticationStateProvider

<h3>FavoriteMoviesPage</h3>
<AntList Grid="grid" DataSource="@movies">
    <ListItem >
        <Card Bordered Title="@(context.Title)" Style="width:300px;">
            <Extra>
                <Button Icon="@IconType.Outline.More" OnClick="@(()=>onCardClick(context))"/>
            </Extra>
			<Cover><img alt="@(context.Title)" src="https://image.tmdb.org/t/p/w185/@(context.Poster)" /></Cover>
            <Body>
            @(context.Description)
            </Body>
        </Card>
    </ListItem>
</AntList>




@code {

    public List<MovieData> movies = new List<MovieData>();
    bool _visible = false;
    MovieData currentMovie = new MovieData();


    protected override async Task OnInitializedAsync()
    {
        movies = await AccountService.GetFavouriteMovies();
    }

    private ListGridType grid = new ListGridType()
    {
        Gutter = 16,
        Xs = 1,
        Sm = 2,
        Md = 4,
        Lg = 4,
        Xl = 6,
        Xxl = 3,
    };

    void onCardClick(MovieData movie)
    {

        MovieService.SetMovie(movie.Id);
        _visible = true;
		
    }
}
