@page "/movies"
@using SEP6_Cloud.Serivces
@using SEP6_Cloud.Models
@using System.Web
@using SEP6_Cloud.Components
@inject NavigationManager NavigationManager
@inject IMovieService MovieService


<Search Placeholder="Input Movie" EnterButton="true"  OnSearch="OnSearch"/>
<h1>Movies</h1>

<AntList Grid="grid" DataSource="@Movies">
    <ListItem >
        <Card Bordered Title="@(context.Title)">
            <Extra>
                <Button Icon="@IconType.Outline.More" OnClick="@(()=>onCardClick(context))"/>
            </Extra>
			<Cover><img alt="@(context.Title)" src="https://image.tmdb.org/t/p/w185/@(context.Poster)" /></Cover>
            <Body>
            @(context.Description)
            </Body>
        </Card>
    </ListItem>
</AntList>

<Modal 
    Title="@currentMovie.Title"
    Visible="@_visible"
	Footer="null"
	OnCancel="@(()=>{ _visible = false; })"
	Width="1000"
>
    <ModalInfo />
</Modal>

@code
{
    public List<MovieData> Movies = new List<MovieData>();
    bool _visible = false;
    MovieData currentMovie = new MovieData();

    protected async void OnSearch(string value) {
        Movies = await MovieService.GetManyMovies(value);
    }

    protected override async Task OnInitializedAsync()
    {
        Movies = await MovieService.GetManyMovies("A");
    }

    private ListGridType grid = new()
    {
        Gutter = 16,
        Xs = 1,
        Sm = 2,
        Md = 3,
        Lg = 3,
        Xl = 3,
        Xxl = 3,
    };

    async Task onCardClick(MovieData movie)
    {

        MovieService.SetMovie(movie.Id);

        _visible = true;
    }

    

}



